header, footer {
    text-align: center;
}

header > nav > ul {
    list-style: none;
    padding-inline-start: 0;
}
header > nav > ul > li {
    display: inline;
    margin: 0 0.5em;
}

a {
    text-decoration: none;
}

main {
    max-width: 1080px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}