header, footer {
    text-align: center;
}
img {
    width: 100%;
    max-width: 1080px;
}
figcaption {
    text-align: center;
}
a {
    text-decoration: none;
}
table {
    border-spacing: 0;
}
table, th, td {
    border: solid 1px;
}