.main {
    max-width: 1080px;
    margin: 0 auto;
}

.center {
    text-align: center;
}

.list {
    list-style: none;
    padding-inline-start: 0;
    & li {
        display: inline;
        margin: auto 0.5rem;
    }
}
